*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
    font-family:sans-serif;
	}
	
body{
	background: url(https://preview.ibb.co/fgSLyc/imagen_de_maqte.jpg);
	background-position: center;
	width:1090px;
	}
/*---------------------------*/
/*---------------------------*/
/*--CABEZA---*/

header{
	position: relative;
	margin: auto;
	width:2246px;
	height:215px;
	background:rgba(255,255,0,.5);
	}
#logo{
	position: absolute;
	top:71px;
	left:350px;
	width:314px;
	height:85px;
	background:rgba(0,0,112,.5);
}	
/*-- FIN CABEZA---*/

/*---------------------------*/
/*---------------------------*/
/*--NAVEGACION---*/
nav{
    position: relative;	
	margin: auto;
	width: 1914px;
	height:75px;
	background:rgba(255,0,0,.5);
}
nav ul{
	position: absolute;	
	top:0px;
	left:0px;
	width: 1933px;
	height:76px;
	background:rgba(0,255,0,.5);
	}
nav ul li{
	float:left;
	width:1933px;
	line-height:76px;
	text-align:left;
	font-size: 25px;
	color:black;
	background: rgba(0,255,0,.5);
	border-right:1px solid white;
	}
	
/*-- FIN NAVEGACION---*/
/*---------------------------*/
/*---------------------------*/